<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<title>CS Template</title>
<meta name="keywords" content="keywords">
<meta name="description" content="description">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link href="/favicon.ico" rel="SHORTCUT ICON" />
<link href="/css/contrast.css" rel="stylesheet"  type="text/css" media="screen" />

<link rel="home" title="Home" href="http://url/of/home/page" />


</head>

<body>


<div id="container">
  <div id="main-container">
	  <div id="header">
	  <img src="/images/whitelogo.gif" alt="<!-- cs page header text start -->CS Template<!-- cs page header text end -->" />
	  </div><!-- end id="header" -->
	  <div id='skip-to-content' class="hidden"><a href="#sidenav">Skip to Navigation</a></div>
	  

<div id="page">

<div id="content">
<h1 class="sifr-title"><!-- CS title start -->Special Title<!-- CS title end --></h1>
<!-- CS CONTENT STARTS HERE -->
<p>Example text Example text Example text Example text Example text Example text Example text Example text Example text Example text Example text Example text.</p>
<!-- CS CONTENT ENDS HERE -->
</div><!-- end id="content" -->


<div id="left-column">
<a href='/php/change.php?style=default' class='access-button'><img src='/cmsimages/accessibilitya-normal.png' alt='default style' /> <span class='access-button hidden'>default</span></a>
<a href='/php/change.php?style=clear' class='access-button'><img src='/cmsimages/accessibilitya-clear.png' alt='clear style' /> <span class='access-button hidden'>clear</span></a>
<a href='/php/change.php?style=contrast' class='access-button'><img src='/cmsimages/accessibilitya-hiviz.png' alt='high contrast style' /> <span class='access-button hidden'>contrast</span></a>

<div id="sidenav">
<ul class="sidenav">
<!-- CS side nav start -->
<!-- nav list top -->
<li><a class="sidenavtop" href="#">Home Sweet Home Sweet Home</a></li>
<!-- nav list top -->
<li><a class="sidenav" href="#">Products</a>
<ul class="sidenav">
		<li><a class="sidesubnav" href='#'>Subnav to somethng very long winded</a></li>
		<li>
		<a class="sidesubnav" href='#'>Subnav2</a>
		</li>
</ul> 
	
</li>
<li><a class="sidenav" href="#">Frequently Asked Questions</a></li>
<li><a class="sidenav" href="#">About Us</a></li>
<li><a class="sidenav" href="#">Contact Us</a></li>
</ul>
<!-- CS side nav end-->
</div>

<!-- CS login start -->
<div id="loginbox">
<form method="post" action="/members" >
	<div id="loginbox-username" >
	<input id="username" name="username" onfocus="clearField(this);" type="text" class="login-formbox" border="0" value="email" size="20" />
	</div>
	<div id="loginbox-password" >
	<input id="password" name="password" onfocus="clearField(this);" type="text" class="login-formboxpassword" border="0" value="password" size="20" />
	</div>
	<div id="loginbox-submit" >
	<input id="login" name="login" value="login" type="hidden" />
	<input name="submit2" type="image" class="submit-button" id="login-submit" onmouseover="MM_swapImage('login-submit','','/images/enter-over.gif',1)" onmouseout="MM_swapImgRestore()" src="/images/enter-off.gif" alt="login" hspace="0" vspace="0" border="0" />
	</div>
</form>
</div>
<!-- CS login end -->




<h3>News</h3>
<div id='news' class='sidebox'>
<!-- CS news start-->
<div class="sidebox-top" id='news-top'>
  News</div>
<div id='news-body' class='sidebox-body'>
	
<div class='news-item'>	
<span class='news-item-date'>
21/09/07</span>
<span class='news-item-text'>
- Time Out For Marriage [
<a href='#' class="news-link">
more</a>
]</span></div>

<div class='news-item'>	
<span class='news-item-date'>
21/09/07</span>
<span class='news-item-text'>
- Time Out For Marriage [
<a href='#' class="news-link">
more</a>
]</span></div>

<div class='news-item'>	
<span class="news-item-text">[
<a class="news-link" href='#'>
view all upcoming</a>
]</span></div>
<div id='news-base'>
</div>
</div>
<!-- CS news end-->
</div>

<h3>Events</h3>
<div id='events' class='sidebox'>
<!-- CS events start-->
<div class="sidebox-top" id='events-top'>
Events</div>
<div id='events-body' class='sidebox-body'>
	
<div class='events-item'>	
<span class='events-item-date'>
21/09/07</span>
<span class='events-item-text'>
- Time Out For Marriage [
<a href='#' class="events-link">
more</a>
]</span></div>

<div class='events-item'>	
<span class='events-item-date'>
21/09/07</span>
<span class='events-item-text'>
- Time Out For Marriage [
<a href='#' class="events-link">
more</a>
]</span></div>

<div class='events-item'>	
<span class="events-item-text">[
<a href='#' class="events-link">
view all upcoming</a>
]</span></div>
</div>
</div>
<!-- CS events end-->


<!-- CS newsletter start -->
<div class='sidebox' id='newsletter'>
<div class="sidebox-top">
Newsletter</div>
<div class='sidebox-body'>
		<form method="post" action="/newsletter" >
			  
				<div align="left">
				  <input name="email_address" onfocus="clearField(this);" type="text" class="newsletter-formbox" border="0" id="email" value="email" size="15" />
				</div>
				<input type="radio" class="newsletter-radio-buttons" name="receive_mailings" value = "yes" checked>
				<span class="newsletter-registration-text">add me</span>
				<input type="radio" class="newsletter-radio-buttons" name="receive_mailings" value = "no">
			    <span class="newsletter-registration-text">remove me </span>
				<span class="newsletter-registration-text">View our <a href="privacy">Privacy Policy</a></span><br/>
				<input name="submit" type="image" class="submit-button" id="email-submit" onmouseover="MM_swapImage('email-submit','','/images/buttons/button-enter-over.png',1)" onmouseout="MM_swapImgRestore()" src="/images/buttons/button-enter-off.png" alt="submit email" hspace="0" vspace="0" border="0" /></td>
		</form>
</div>
</div>
<!-- CS newsletter end -->

</div>

<br clear=all />

</div> <!-- end of id="main-container" -->
  
<br clear="all">
</div>
<!-- FOOTER ITEMS -->

<div id="footer">website design by sugarcane creative</div>
<!-- end of id="footer" -->
</div>
<!-- end id="container" -->


</body>
</html>
