<!DOCTYPE html>
<html lang="en">
<head>
<title>About | Rotherham Hospice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Creative Stream">

<!-- CS og start --><!-- CS og end -->

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">--><!--live CDN bootstrap CSS-->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/editorstyles.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen" >
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="/js/jquery.min.js"></script><!-- use in local machine latest jquery js-->
<script src="//use.typekit.net/peq2gqv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--common jquery end-->
</head>

<body>
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper innerpage"> 
  <!--header section starts-->
  <header>
    <div id="header-main"> 
      <!-- header section coding starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-2"> <a class="logo" href="/" title="Rotherham Hospice"><img src="/images/logo.png" width="180" alt="Rotherham Hospice" title="Rotherham Hospice" /></a> </div>
          <div class="col-xs-12 col-sm-9 col-md-10 text-right clearfix">
            <div class="ht-top">
              <div class="google-language">
                <div id="googletranslate">
                  <div id="google_translate_element"></div>
				  <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-65638679-1'}, 'google_translate_element');
                    }
                  </script>
				  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
                <div id="googlesearch">
					<script>
						(function () {
							var cx = '001120771164237304198:h3-myb3qpwy';
							var gcse = document.createElement('script');
							gcse.type = 'text/javascript';
							gcse.async = true;
							gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							'//www.google.com/cse/cse.js?cx=' + cx;
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(gcse, s);
						})();
					</script>
					<gcse:searchbox-only resultsUrl="/search-results" newWindow="false" queryParameterName="search"></gcse:searchbox-only>
				</div>
              </div>
            <!-- CS shop_basket list start -->
              <div class="shop-btn"> <a href="#" title="Visit Shop">Visit Shop</a> <a href="#" title="Log in to Shop">Log in to Shop</a> </div>
            </div>
            <div class="cart-block"> <a href="#" class="cart-icon" title="&pound;3.41"><span class="badge">1</span> &pound;3.41</a> <span>|</span> <a href="#" title="View basket">View basket</a> </div>
            <!-- CS shop_basket list end -->
            <div class="social-share clearfix">
              <ul class="social-list clearfix">
                <li>
                  <div class="tooltip-data"> March is here which means the start of <a href="#" title="#CashforCurry">#CashforCurry</a> month! Get your FREE curry kit at <a href="http://www.rotherhamhospice.org.uk" title="rotherhamhospice.org.uk">http://www.rotherhamhospice.org.uk</a>
                    <p><a href="#" title="2 days ago"><em>2 days ago</em></a> | <a href="#" title="Follow us on Twitter">Follow us on Twitter</a> </p>
                  </div>
                  <a class="tw active" href="#" title="Share on Twitter" target="_blank">Twitter</a> </li>
                <li><a class="fb" href="#" title="Share on Facebook" target="_blank">Facebook</a></li>
                <li><a class="yt" href="#" title="Share on YouTube" target="_blank">YouTube</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-10 text-right clearfix">
            <nav id="menuBlock" class="navbar navbar-default navbar-custom">
              <button title="Menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <div class="menu navbar-collapse collapse"> 
                <!-- CS topnav start -->
                <ul class="nav navbar-nav pull-right">
                  <li> <a href="index.html" title="Home">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Home 1">Home 1</a></li>
                      <li><a href="#" title="Home 2">Home 2</a></li>
                      <li><a href="#" title="Home 3">Home 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Shop">Shop <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Shop 1">Shop 1</a></li>
                      <li><a href="#" title="Shop 2">Shop 2</a></li>
                      <li><a href="#" title="Shop 3">Shop 3</a></li>
                    </ul>
                  </li>
                  <li> <a class="active" href="about.html" title="About us">About us <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li> <a href="#" title="The History of Rotherham Hospice">The History of Rotherham Hospice</a>
                        <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                          <li><a href="#" title="Menu 1">Menu 1</a></li>
                          <li><a href="#" title="Menu 2">Menu 2</a></li>
                          <li><a href="#" title="Menu 3">Menu 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="Our Staff">Our Staff</a></li>
                      <li><a href="#" title="Events">Events</a></li>
                      <li><a href="#" title="News">News</a></li>
                      <li><a href="#" title="Stories">Stories</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Family &amp; Friends">Family &amp; Friends <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Healthcare Professionals">Healthcare Professionals <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="How to support us">How to support us <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                </ul>
                <!-- CS topnav end --> 
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- header section coding ends here--> 
    </div>
  </header>
  <!--header section ends--> 
  
  <!-- midd section starts here-->
  <section>
    <div class="banner">
      <ul class="slider">
        <li><img src="<!-- CS page image start --><!-- CS page image end -->" class="banner-img" /></li>
      </ul>
    </div>
    <div class="container two-column">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 sidebar">
          <div class="sidebar-inner"> 
            <!-- CS side subnav start -->
            <div class="sidebar-menu">
              <h2>About Us</h2>
              <ul>
                <li><a href="#" title="Vision &amp; Mission">Vision &amp; Mission</a></li>
                <li> <a href="#" title="Our History">Our History</a>
                  <ul>
                    <li><a href="#" title="a subcategory">a subcategory</a></li>
                    <li><a href="#" title="something else in this section">something else in this section</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Compliments, comments &amp; complaints">Compliments, comments &amp; complaints</a></li>
                <li><a href="#" title="Meet the team">Meet the team</a></li>
                <li><a href="#" title="Message from the Patron">Message from the Patron</a></li>
                <li><a href="#" title="News">News</a></li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Resources">Resources</a></li>
                <li><a href="#" title="Contact us">Contact us</a></li>
              </ul>
            </div>
            <!-- CS side subnav end -->
            <!-- CS blog list start -->
            <!-- CS blog list end -->
            <!-- CS assoclinks start -->
            <a href="#" title="Join the lottery" class="promo-holder" style="background-image:url(/images/promo-logo.png);">
              <div class="caption-txt">
                <h3>Join the lottery</h3>
                <p>This is some text that might go on, and on, and on and on etc. This is some text that might go on, and on, and on and on etc. This is some text that might go on, and on, and on and on etc.</p>
              </div>
            </a>
            <a href="#" title="What can you do to support us?" class="promo-holder" style="background-image:url(/images/sidebar-bg.jpg);">
              <div class="caption-txt">
                <h3>What can you do to support us?</h3>
              </div>
            </a>
            <a href="#" title="Another" class="promo-holder sideboxitemicon sideboxitemicon-download">
              <div class="caption-txt">
                <h3>Another</h3>
              </div>
            </a>
            <!-- CS assoclinks end -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 content-area">
          <div class="content-inner" id="content">
            <h1><!-- CS title start -->Website main title<!-- CS title end --></h1>
            <!-- CS CONTENT STARTS HERE --> 
            <img class="pull-right callout-img" src="/images/innerpage-img.jpg" alt="Callout Image" title="Callout Image" />
            <p><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </span></p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
            <h2>Second header style</h2>
            <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            <p>Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <blockquote> Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </blockquote>
            <h3>Third header style</h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
            <ul>
              <li>Facilis est et expedita distinctio. </li>
              <li>Nam libero tempore, cum soluta nobis est eligendi</li>
              <li>Optio cumque nihil impedit</li>
              <li>Quo minus id quod maxime placeat facere possimus</li>
            </ul>
            <!-- CS CONTENT ENDS HERE --> 
          </div>
          <div class="content-below">
            <!-- CS donate start --><!-- CS donate end --> 
            <!-- CS inline gallery start --><!-- CS inline gallery end --> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- midd section ends here--> 
  
  <!--footer starts here-->
  <footer>
    <div class="ft-top"> 
      <!-- footer section codes starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-2 contact-widget">
            <h3>Contact us</h3>
            <p>Rotherham Hospice Broom Road Rotherham <br>
              S60 2SW <span><a href="tel:01709308900" title="Call">01709 308900</a></span></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 signup-widget">
            <div class="social-share clearfix">
              <ul class="social-list clearfix">
                <li> 
                  <!-- CS Tweet Start --> 
                  <a class="tw active" href="https://twitter.com/RotherHosp" title="Follow us on Twitter" target="_blank">Twitter</a> 
                  <!-- CS Tweet End --> 
                </li>
                <li><a class="fb" href="https://www.facebook.com/rotherham.hospice.5" title="Share on Facebook" target="_blank">Facebook</a></li>
                <li><a class="yt" href="https://www.youtube.com/channel/UCBiscfbz4NTBmUwXXzpgOWw" title="Share on YouTube" target="_blank">YouTube</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 map-widget">
            <h3>Where are we? <span>Find the Hospice and our shops</span></h3>
            <!-- CS inline map start -->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38031.30618950451!2d-1.36725255!3d53.4334836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc2fffdd148a441f5!2sRotherham+Hospice+Wellgate+Shop!5e0!3m2!1sen!2sin!4v1431954125470" width="515" height="238"></iframe>
            </div>
            <!-- CS inline map end --> 
          </div>
        </div>
      </div>
      <!-- footer section codes ends here--> 
    </div>
    <div class="ft-bottom">
      <div class="container">
        <div class="copyright">
          <ul class="clearfix">
            <li>Copyright &copy; Rotherham Hospice</li>
            <li><a href="/terms-and-conditions" title="Terms and Conditions">Terms and Conditions</a></li>
            <li><a href="/sitemap" title="Site map">Site map</a></li>
            <li><a href="/cookies-and-privacy" title="Privacy &amp; Cookies">Privacy &amp; Cookies</a></li>
          </ul>
          <ul class="clearfix">
            <li>A Registered Charity. A Company Limited by Guarantee. Registered No. 2234222</li>
            <li>Charity No. 700356</li>
          </ul>
        </div>
        <div class="design-by"> Website design by <a href="#" title="Creative Stream" target="_blank">Creative Stream</a> </div>
      </div>
    </div>
  </footer>
  <!-- image preloads starts here-->
  <div class="preloader"> <img src="/images/plus.png" alt="checkbox" /> <img src="/images/minus.png" alt="checkbox" /> <img src="/images/icon-checkbox-on.png" alt="checkbox" /> <img src="/images/icon-valid.png" alt="checkbox" /> </div>
  <!-- image preloads ends here--> 
  <!--footer ends here--> 
</div>
<script>
  if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
  // keep using cookies until they are delined 
  } else {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-65638679-1', 'auto');
	ga('send', 'pageview');
  }
</script>
<!--scripts starts here--> 
<script src="/js/modernizr-2.7.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script><!-- use in local machine latest Bootstrap CSS--> 
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/menu.js"></script> 
<script src="/js/general.js"></script> 
<script src="/js/functions.js"></script> 
<!--scripts ends here--> 
<!-- CS inline map onload start --><!-- CS inline map onload end -->
</body>
</html>