<!DOCTYPE html>
<html lang="en">
<head>
<title>The National Club</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Creative Stream">

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="/css/editorstyles.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" /><!--live CDN bootstrap CSS use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/cookiecuttr.css">
<!--typekit fonts embeddeds here-->
<script src="//use.typekit.net/jgu4jaf.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--typekit fonts embeddeds here-->
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<script src="/js/jquery.min.js"></script>
<!-- use in local machine latest jquery js-->
<!--common jquery end-->
</head>

<body>
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper"> 
  <!--header section starts-->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 logo-text"> <a href="/" title="The National Club"><img class="small-logo" src="/images/smalllogo.png" alt="smalllogo" title="smalllogo">The National Club</a> </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 welcome-menu">
          <!-- CS shop_basket list start -->
          <!-- CS shop_basket list end -->
        </div>
      </div>
    </div>
    
    <!-- header section coding ends here--> 
  </header>
  <!--header section ends-->
  <div class="header-bottom">
    <div class="container">
      <div class="row"> 
        <!-- mid section codes here-->
        <div class="col-xs-12 col-sm-3 col-md-3 logo-inner">
          <div class="logo-container"> <img src="/images/logo.png" alt="The National Club" title="The National Club"> </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 slider-inner clearfix">
          <div class="temp">
          <!-- CS topnav start -->
          <!-- CS topnav end -->
          </div>
          <div class="slider-section">
            <div class="inner-slider" style="background-image:url(<!-- CS page image start -->/images/inner-bg.jpg<!-- CS page image end -->);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="heading">
  	<div class="container">
    	<div class="row head">
    <div class="col-xs-12 col-sm-12 col-md-12 header-text"> <h1><!-- CS title start -->the national club<!-- CS title end --></h1></div>
    </div>
  </div>       
  <!-- midd section starts here-->
  <section>
      <div class="container">
        <div class="row inner-page-cnt"> 
          <!-- mid section codes here-->
          <aside class="hidden-xs">
          <div class="col-md-3 col-sm-3 col-xs-12 ">
          <!-- CS side subnav start -->
            <div class="acordian-ttl">The club</div>
            <ul id="top-accordian" class="accordion ">
              <li id="one" class="title active"> <a href="#one" class="accordion-title  active" title="First item of Navigation">club house</a>
              	<ul class="accordion-content open-menu">
                  <li><a href="#one" title="carlton club card">carlton club card</a></li>
                  <li><a href="#one" title="christmas closure">christmas closure</a></li>
                  <li><a href="#one" title="summer closure">summer closure</a></li>
                </ul>
              </li>
              <li class="title"> <a href="#" class="accordion-title" title="club rules">club rules</a></li>
              <li class="title"> <a href="#" class="accordion-title" title="constitution">constitution</a> </li>
              <li class="title"> <a href="#" class="accordion-title" title="Fundamental Principles">Fundamental Principles</a> </li>
              <li class="title"> <a href="#" class="accordion-title" title="Our History">Our History</a> </li>
              <li class="title"> <a href="#" class="accordion-title" title="Our Mission">Our Mission</a> </li>
              <li class="title"> <a href="#" class="accordion-title" title="Reciprocal Clubs">Reciprocal Clubs</a> </li>
            </ul>
          <!-- CS side subnav end -->
          
          <!-- CS directory searchbox start --><!-- CS directory searchbox end -->
          </div>
        </aside>
        <div class="col-xs-12 col-sm-9 col-md-9 content-area" id="content">
        <!-- CS CONTENT STARTS HERE -->
            <p><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span> </p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p class="csbutton"><a href="#" title="" >This is a Button</a></p>
        <!-- CS CONTENT ENDS HERE -->
        </div> 
      </div>
      <!-- mid section codes ends here--> 
    </div>
    
  </section>
  <!-- midd section ends here-->
    <footer> 
      
      <!-- footer section codes starts here-->
      
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 footer-menu">
            <p>Copyright &copy; The National Club &nbsp; | <a href="#" title="Terms and Conditions">Terms and Conditions</a> | <a href="/sitemap" title="Site map">Site map</a> | <a href="/cookies-and-privacy" title="Privacy and Cookies">Privacy &amp; Cookies</a></p>
            <p>Located at The Carlton Club, 69 St James's Street, London SW1A 1PJ</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 website"> <a href="http://www.creativestreamchurchwebsites.co.uk" target="_blank" title="Website design by Creative Stream">Website design by Creative Stream</a> </div>
        </div>
      </div>
      
      <!-- footer section codes ends here--> 
      
    </footer>
  </div>
</div>
<!--footer starts here--> 

<!-- image preloads starts here--> 
<!-- image preloads ends here--> 
<!--footer ends here--> 

<script>
  if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
  // keep using cookies until they are delined 
  } else {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-XXXXXXXX-1', 'auto');
	ga('send', 'pageview');
  }
</script>
<!--scripts starts here--> 
<script src="/js/modernizr-2.7.1.min.js"></script> 
<!-- Latest compiled and minified JavaScript 
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>--> 
<script src="/js/bootstrap.min.js"></script> 
<!-- use in local machine latest Bootstrap CSS--> 
<script src="/js/retina.js"></script> 
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/enu-menu.js"></script> 
<script src="/js/css_browser_selector.js"></script>
<script src="/js/general.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!--scripts ends here-->
</body>
</html>