<!DOCTYPE html>
<html lang="en">
<head>
<title>Rotherham Hospice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Creative Stream">

<!-- CS og start --><!-- CS og end -->

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">--><!--live CDN bootstrap CSS-->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<!-- use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/editorstyles.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/css/cookiecuttr.css">
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="/js/jquery.min.js"></script><!-- use in local machine latest jquery js-->
<script src="//use.typekit.net/peq2gqv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--common jquery end-->
</head>

<body>
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper homepage"> 
  <!--header section starts-->
  <header>
    <div id="header-main"> 
      <!-- header section coding starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-2"> <a class="logo" href="/" title="Rotherham Hospice"><img src="/images/logo.png" width="180" alt="Rotherham Hospice" title="Rotherham Hospice" /></a> </div>
          <div class="col-xs-12 col-sm-9 col-md-10 text-right clearfix">
            <div class="ht-top">
              <div class="google-language">
                <div id="googletranslate">
                  <div id="google_translate_element"></div>
				  <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-65638679-1'}, 'google_translate_element');
                    }
                  </script>
				  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
                <div id="googlesearch">
					<script>
						(function () {
							var cx = '001120771164237304198:h3-myb3qpwy';
							var gcse = document.createElement('script');
							gcse.type = 'text/javascript';
							gcse.async = true;
							gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							'//www.google.com/cse/cse.js?cx=' + cx;
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(gcse, s);
						})();
					</script>
					<gcse:searchbox-only resultsUrl="/search-results" newWindow="false" queryParameterName="search"></gcse:searchbox-only>
				</div>
              </div>
            <!-- CS shop_basket list start -->
              <div class="shop-btn"> <a href="#" title="Visit Shop">Visit Shop</a> <a href="#" title="Log in to Shop">Log in to Shop</a> </div>
            </div>
            <div class="cart-block"> <a href="#" class="cart-icon" title="&pound;3.41"><span class="badge">1</span> &pound;3.41</a> <span>|</span> <a href="#" title="View basket">View basket</a> </div>
            <!-- CS shop_basket list end -->
            <div class="social-share clearfix">
              <ul class="social-list clearfix">
                <li>
                  <!-- CS Tweet Start -->
                  <div class="tooltip-data"> March is here which means the start of <a href="#" title="#CashforCurry">#CashforCurry</a> month! Get your FREE curry kit at <a href="http://www.rotherhamhospice.org.uk" title="rotherhamhospice.org.uk">http://www.rotherhamhospice.org.uk</a>
                    <p><a href="#" title="2 days ago"><em>2 days ago</em></a> | <a href="#" title="Follow us on Twitter">Follow us on Twitter</a> </p>
                  </div>
                  <a class="tw active" href="https://twitter.com/RotherHosp" title="Share on Twitter" target="_blank">Twitter</a> 
                  <!-- CS Tweet End --> 
                </li>
                <li><a class="fb" href="https://www.facebook.com/rotherham.hospice.5" title="Share on Facebook" target="_blank">Facebook</a></li>
                <li><a class="yt" href="https://www.youtube.com/channel/UCBiscfbz4NTBmUwXXzpgOWw" title="Share on YouTube" target="_blank">YouTube</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-10 text-right clearfix">
            <nav id="menuBlock" class="navbar navbar-default navbar-custom">
              <button title="Menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <div class="menu navbar-collapse collapse"> 
                <!-- CS topnav start -->
                <ul class="nav navbar-nav pull-right">
                  <li> <a href="index.html" title="Home" class="active">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Home 1">Home 1</a></li>
                      <li><a href="#" title="Home 2">Home 2</a></li>
                      <li><a href="#" title="Home 3">Home 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Shop">Shop <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Shop 1">Shop 1</a></li>
                      <li><a href="#" title="Shop 2">Shop 2</a></li>
                      <li><a href="#" title="Shop 3">Shop 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="about.html" title="About us">About us <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li> <a href="#" title="The History of Rotherham Hospice">The History of Rotherham Hospice</a>
                        <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                          <li><a href="#" title="Menu 1">Menu 1</a></li>
                          <li><a href="#" title="Menu 2">Menu 2</a></li>
                          <li><a href="#" title="Menu 3">Menu 3</a></li>
                        </ul>
                      </li>
                      <li> <a href="#" title="Our Staff">Our Staff</a>
                        <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                          <li><a href="#" title="Menu 1">Menu 1</a></li>
                          <li><a href="#" title="Menu 2">Menu 2</a></li>
                          <li><a href="#" title="Menu 3">Menu 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#" title="Events">Events</a></li>
                      <li><a href="#" title="News">News</a></li>
                      <li><a href="#" title="Stories">Stories</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Family &amp; Friends">Family &amp; Friends <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="Healthcare Professionals">Healthcare Professionals <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                  <li> <a href="#" title="How to support us">How to support us <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                      <li><a href="#" title="Menu 1">Menu 1</a></li>
                      <li><a href="#" title="Menu 2">Menu 2</a></li>
                      <li><a href="#" title="Menu 3">Menu 3</a></li>
                    </ul>
                  </li>
                </ul>
                <!-- CS topnav end --> 
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- header section coding ends here--> 
    </div>
  </header>
  <!--header section ends--> 
  
  <!-- midd section starts here-->
  <section>
    <div class="banner">
      <ul id="masterslider" class="slider master-slider ms-skin-default">
        <!-- CS promo links start -->
        <li class="ms-slide"> <img src="/images/slider1.jpg" class="banner-img" alt="Banner" title="Banner">
          <div class="container"> <img  class="ms-layer" src="/images/blank.gif" data-src="/images/leaf.png" alt="" style="" data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="0" data-offset-y="220" data-origin="tl" data-position="normal" />
            <div class="table-row ms-layer" data-type="text" data-offset-x="140" data-offset-y="130" data-effect="rotate3dtop(70,0,0,180)" data-duration="1000" data-ease="easeInOutQuint" data-origin="tl" data-position="normal">
              <div class="table-cell">
                <p><a href="#" title="Rotherham Hospice is fundraising in your local area">Rotherham Hospice is fundraising in your local area</a></p>
              </div>
            </div>
            <img  class="ms-layer" src="/images/blank.gif" data-src="/images/icon-leaf-slider.png" alt="" style="" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="560" data-offset-y="400" data-origin="tl" data-position="normal" /> </div>
        </li>
        <li class="ms-slide"> <img src="/images/slider2.jpg" class="banner-img" alt="Banner" title="Banner"> <a data-type="video" href="http://player.vimeo.com/video/58226214"> </a>
          <div class="container"> <img  class="ms-layer" src="/images/blank.gif" data-src="/images/leaf.png" alt="" style="" data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="0" data-offset-y="220" data-origin="tl" data-position="normal" />
            <div class="table-row ms-layer" data-type="text" data-offset-x="140" data-offset-y="130" data-effect="rotate3dtop(70,0,0,180)" data-duration="1000" data-ease="easeInOutQuint" data-origin="tl" data-position="normal">
              <div class="table-cell">
                <p><a href="#" title="Rotherham Hospice is fundraising in your local area">Rotherham Hospice is fundraising in your local area</a></p>
              </div>
            </div>
            <img  class="ms-layer" src="/images/blank.gif" data-src="/images/icon-leaf-slider.png" alt="" style="" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="560" data-offset-y="400" data-origin="tl" data-position="normal" /> </div>
        </li>
        <li class="ms-slide"> <img src="/images/slider1.jpg" class="banner-img" alt="Banner" title="Banner">
          <div class="container"> <img  class="ms-layer" src="/images/blank.gif" data-src="/images/leaf.png" alt="" style="" data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="0" data-offset-y="220" data-origin="tl" data-position="normal" />
            <div class="table-row ms-layer" data-type="text" data-offset-x="140" data-offset-y="130" data-effect="rotate3dtop(70,0,0,180)" data-duration="1000" data-ease="easeInOutQuint" data-origin="tl" data-position="normal">
              <div class="table-cell">
                <p><a href="#" title="Rotherham Hospice is fundraising in your local area">Rotherham Hospice is fundraising in your local area</a></p>
              </div>
            </div>
            <img  class="ms-layer" src="/images/blank.gif" data-src="/images/icon-leaf-slider.png" alt="" style="" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="560" data-offset-y="400" data-origin="tl" data-position="normal" /> </div>
        </li>
        <li class="ms-slide"> <img src="/images/slider2.jpg" class="banner-img" alt="Banner" title="Banner">
          <div class="container"> <img  class="ms-layer" src="/images/blank.gif" data-src="/images/leaf.png" alt="" style="" data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="0" data-offset-y="220" data-origin="tl" data-position="normal" />
            <div class="table-row ms-layer" data-type="text" data-offset-x="140" data-offset-y="130" data-effect="rotate3dtop(70,0,0,180)" data-duration="1000" data-ease="easeInOutQuint" data-origin="tl" data-position="normal">
              <div class="table-cell">
                <p><a href="#" title="Rotherham Hospice is fundraising in your local area">Rotherham Hospice is fundraising in your local area</a></p>
              </div>
            </div>
            <img  class="ms-layer" src="/images/blank.gif" data-src="/images/icon-leaf-slider.png" alt="" style="" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="560" data-offset-y="400" data-origin="tl" data-position="normal" /> </div>
        </li>
        <li class="ms-slide"> <img src="/images/slider1.jpg" class="banner-img" alt="Banner" title="Banner">
          <div class="container"> <img  class="ms-layer" src="/images/blank.gif" data-src="/images/leaf.png" alt="" style="" data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="0" data-offset-y="220" data-origin="tl" data-position="normal" />
            <div class="table-row ms-layer" data-type="text" data-offset-x="140" data-offset-y="130" data-effect="rotate3dtop(70,0,0,180)" data-duration="1000" data-ease="easeInOutQuint" data-origin="tl" data-position="normal">
              <div class="table-cell">
                <p><a href="#" title="Rotherham Hospice is fundraising in your local area">Rotherham Hospice is fundraising in your local area</a></p>
              </div>
            </div>
            <img  class="ms-layer" src="/images/blank.gif" data-src="/images/icon-leaf-slider.png" alt="" style="" data-duration="2000" data-delay="1000" data-ease="easeOutQuint" data-type="image" data-offset-x="560" data-offset-y="400" data-origin="tl" data-position="normal" /> </div>
        </li>
        <!-- CS promo links end -->
      </ul>
    </div>
    <div class="welcome-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <!-- CS donate start -->
            <div class="how-can-block">
              <h2>How you can support us</h2>
              <div class="funo-banner">
                <ul class="clearfix">
                  <li><a href="#" title="Fundraising">Fundraising</a></li>
                  <li><a href="#" title="Volunteering">Volunteering</a></li>
                  <li><a href="#" title="Resources">Resources</a></li>
                </ul>
              </div>
              <div class="donate-wrapper">
                <div id="successmsgdonate">Thanks for taking interest in us!</div>
                <form id="donate" action="#" method="post" class="clearfix">
                  <div class="col1"> You can donate money to the Hospice here: </div>
                  <div class="col2">
                    <div class="input-group"> <span class="input-group-addon" id="basic-addon1">&pound;</span>
                      <input maxlength="10" id="txtnumber" type="text" class="form-control" placeholder="Enter Amount" aria-describedby="basic-addon1" />
                    </div>
                  </div>
                  <div class="col3">
                    <label class="label_check" for="accept">I am a UK tax payer, please add Gift Aid
                      <input id="accept" type="checkbox" />
                    </label>
                  </div>
                  <div class="col4">
                    <input type="submit" value="Donate" title="Donate" class="btn donate-btn" />
                  </div>
                </form>
              </div>
            </div>
            <!-- CS donate end -->
          </div>
          <div class="col-xs-12 col-sm-6">
            <h1><!-- CS title start -->Welcome to Rotherham Hospice<!-- CS title end --></h1>
            <!-- CS CONTENT STARTS HERE -->
            <p>Rotherham Hospice is not just a building – it’s a way of caring for people both in the Hospice and the community. Our care places the patient and not the illness at the centre of everything we do.</p>
            <p>We are an independent charity and the only adult hospice in Rotherham for the people of Rotherham and surrounding villages. We began offering Day Hospice services in 1994, and have grown over the years to now provide a 14 bed Inpatient Unit, with 75 Day Hospice places every week, and our Hospice Community Team who provide care in the community. We need over &pound;5 million annually to deliver these services and rely heavily upon local people and organisations for their support.</p>
            <!-- CS CONTENT ENDS HERE -->
          </div>
        </div>
      </div>
    </div>
    <div class="second-chance torn-paper">
      <div class="second-chance-inner torn-paper-inner">
        <div class="container clearfix">
          <div class="lottery-logo"> <a href="#" title="Lottery Rotherham Hospice"><img src="/images/lottery-logo.jpg" alt="Lottery Rotherham Hospice" title="Lottery Rotherham Hospice" /></a> </div>
          <!-- CS lotto countdown start -->
          <div class="jackpot-block">
            <p>This week’s <span>Rollover Jackpot</span></p>
            <ul>
              <li><span class="label-txt">1st Chance</span><span>&pound;2000</span></li>
              <li><span class="label-txt">2nd Chance</span><span>&pound;1000</span></li>
            </ul>
          </div>
          <div class="blurb">
            <ul>
              <li>&pound;2 for 2 draws</li>
              <li>Win up to <!--change-->&pound;30,000</li>
              <li>Play every Friday</li>
            </ul>
          </div>
          <div class="counter-wrapper">
            <p>Time left to play this week’s lottery:</p>
            <div class="counter">
              <div id="first_countdown" style="position: relative; width: 255px; height: 100px;"></div>
            </div>
          </div>
          <!-- CS lotto countdown end -->
          <div class="lottery-btn"> <a href="#" title="Join the Lottery" class="btn">Join the Lottery</a> <a href="#" title="How it works" class="btn">How it works</a> <a href="#" title="Last week’s winners" class="btn">Last week’s winners</a> </div>
        </div>
      </div>
    </div>
    <div class="container event-news-wrapper">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="event-wrapper">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single-column event">
                <!-- CS booking featured start -->
                  <div class="img-block" style="background-image:url(images/ice-bucket-challenge.jpg);"> <a href="#" title="Fundraising thing in future">
                    <div class="leaf-wrapper">
                      <p>Featured Event</p>
                    </div>
                    <div class="caption">Fundraising thing in future</div>
                    <div class="date"> <span>03</span> MAR </div>
                    </a> </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur non risus lacus. Donec ac enim arcu. Curabitur lacinia lacus sit amet mollis semper. Duis pretium neque a facilisis feugiat. </p>
                <!-- CS booking featured end -->
                  <div class="event-list">
                    <!-- CS booking latest start -->
                    <div class="title"> Other Upcoming Events <a href="#" title="View all events">View all events</a> </div>
                    <ul class="clearfix event-list">
                      <li>
                        <div class="thumb"> <a href="#" title="Great fundraising opportunity"> <img src="/images/event-1.jpg" alt="Great fundraising opportunity" title="Great fundraising opportunity" />
                          <div class="date"> <span>08</span> MAR </div>
                          </a> </div>
                        <div class="thumb-info"> <a href="#" title="Great fundraising opportunity">Great fundraising opportunity</a>
                          <p>Quisque in augue ultrices, rutrum mauris vitae, inter dum massa plus re ritum veritas...</p>
                        </div>
                      </li>
                      <li>
                        <div class="thumb"> <a href="#" title="Another thing we are going to do soon"> <img src="/images/event-2.jpg" alt="Another thing we are going to do soon" title="Another thing we are going to do soon" />
                          <div class="date"> <span>21</span> MAR </div>
                          </a> </div>
                        <div class="thumb-info"> <a href="#" title="Another thing we are going to do soon">Another thing we are going to do soon</a>
                          <p>Pellentesque vulputate faucibus nulla, conditum mentum pharetra. </p>
                        </div>
                      </li>
                      <!-- CS booking latest end -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single-column news">
                <!-- CS featured news start -->
                  <div class="img-block" style="background-image:url(images/news-big.jpg);">
                    <a href="#" title="Celebrating our work">
                      <div class="leaf-wrapper">
                        <p>Featured News</p>
                      </div>
                      <div class="caption">Celebrating our work</div>
                      <div class="date"> <span>28</span> FEB </div>
                      </a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non risus lacus. Donec ac enim arcu. Curabitur lacinia lacus sit amet mollis semper. Duis pretium neque a facilisis feugiat. <a href="#" title="Read more">Read more</a></p>
                <!-- CS featured news end -->
                  <div class="event-list">
                    <!-- CS news start-->
                    <div class="title"> Other news <a href="#" title="View all news">View all news</a> </div>
                    <ul class="clearfix event-list">
                      <li>
                        <div class="thumb"> <a href="#" title="Opening a new shop!"> <img src="/images/news-1.jpg" alt="Opening a new shop!" title="Opening a new shop!" />
                          <div class="date"> <span>13</span> FEB </div>
                          </a> </div>
                        <div class="thumb-info"> <a href="#" title="Opening a new shop!">Opening a new shop!</a>
                          <p>Quisque in augue ultrices, rutrum mauris vitae, inter dum massa plus re ritum veritas...</p>
                        </div>
                      </li>
                      <li>
                        <div class="thumb"> <a href="#" title="New thing we did"> <img src="/images/news-2.jpg" alt="New thing we did" title="New thing we did" />
                          <div class="date"> <span>24</span> FEB </div>
                          </a> </div>
                        <div class="thumb-info"> <a href="#" title="New thing we did">New thing we did</a>
                          <p>Pellentesque vulputate faucibus nulla, conditum mentum pharetra. </p>
                        </div>
                      </li>
                      <!-- CS news end-->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 story-wrapper">
                <div class="story-wrapper-inner">
                  <div class="leaf-wrapper">
                    <p>Stories</p>
                  </div>
                  <div class="clearfix">
                  <!-- CS case studies featured start -->
                    <div class="img-block" style="background-image:url(images/story-big-img.jpg);"><a href="#" title="Story"></a></div>
                    <div class="img-info">
                      <div class="title">My Grandad’s last days were so moving</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non risus lacus. Donec ac enim arcu. Curabitur lacinia lacus sit amet mollis semper. Duis pretium neque a facilisis feugiat. Fusce efficitur enim diam, in malesuada lacus ultrices eget. Nulla aliquet at tellus sit amet pharetra. Quisque in augue ultrices, rutrum mauris vitae.</p>
                      <div class="link-group"> <a href="#" title="READ WHOLE STORY">READ WHOLE STORY</a> <a href="#" title="READ MORE STORIES">READ MORE STORIES</a> </div>
                    </div>
                  <!-- CS case studies featured end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="news-wrapper">
            <div class="memory-book-wrapper">
              <p>Search for a memory page</p>
              <!-- CS memorybook search start -->
              <form action="#" method="post">
                <input type="text" class="form-control" />
                <input type="submit" class="form-btn" value="" title="Search" />
              </form>
              <!-- CS memorybook search end -->
              <p class="memorylink"><a href="/add-to-memory-book">Add a page for a loved one</a></p>
            </div>
            <div class="blog-wrapper">
              <h3>Our Chief Exec’s Blog</h3>
              <!-- CS blog latest post start -->
              <div class="exec-blog clearfix">
                <div class="date"> <span>13</span> FEB </div>
                <a href="#" title="Title of the blog post goes here">Title of the blog post goes here</a> <img class="blogpic" src="/images/chris-isolated.png" alt="" title="" />
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec nulla libero. Cras ipsum ligula, mollis non erat sed, bibendum placerat sapien. Sed aliquam ullamcorper quam eget tempus. Nulla faucibus est vel tincidunt pretium ellentesque imperdiet ante eget...</p>
              <div class="link-group"> <a title="Read full post" href="#">Read full post</a> <a title="View all posts" href="#">View all posts</a> </div>
              <!-- CS blog latest post end -->
            </div>
            <div class="clinical-wrapper"> <a href="#" title="Clinical Referrals"> <img src="/images/clinical-img.jpg" alt="Clinical Referrals" title="Clinical Referrals" />
              <div class="clinical-caption">
                <h3>Clinical Referrals</h3>
                <p>Single point of contact for healthcare professionals</p>
              </div>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- midd section ends here--> 
  
  <!--footer starts here-->
  <footer>
    <div class="ft-top"> 
      <!-- footer section codes starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-2 contact-widget">
            <h3>Contact us</h3>
            <p>Rotherham Hospice Broom Road Rotherham <br>
              S60 2SW <span><a href="tel:01709308900" title="Call">01709 308900</a></span></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 signup-widget">
            <div class="signup-form">
              <h3>Sign up for our newsletter</h3>
              <p>Receive regular email updates with details of fundraising events and other Rotherham Hospice news.</p>
              <form method="get" accept-charset="UTF-8" name="oi_form" action="//track.csmailer.co.uk/oi/1/d9d9024d9f3447caf04020e315955e41" class="form-horizontal">
                <div class="form-group">
                  <label for="inputfname" class="control-label">First name*</label>
                  <div class="col">
                    <input type="text" class="form-control" id="inputfname" name="FirstName" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputlname" class="control-label">Last name*</label>
                  <div class="col">
                    <input type="text" class="form-control" id="inputlname" name="Surname" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputemail" class="control-label">Email address*</label>
                  <div class="col">
                    <input type="text" class="form-control" id="inputemail" name="email" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputtype" class="control-label">Involvement*</label>
                  <div class="col">
                    <select class="form-control form-control-select" id="inputtype" name="Type">
                      <option selected="selected" value="disabled">What best describes you?</option>
                      <option value="Individual supporter">Individual supporter</option>
                      <option value="Corporate supporter">Corporate supporter</option>
                      <option value="Small business supporter">Small business supporter</option>
                      <option value="Group supporter">Group supporter</option>
                      <option value="Community group supporter">Community group supporter</option>
                      <option value="Medical professional">Medical professional</option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-btn">
                  <div class="col">
                    <input type="hidden" name="goto" value="" />
                    <input type="hidden" name="iehack" value="&#9760;" />
                    <input type="submit" class="btn sbt-btn" value="I want to receive the newsletter" title="I want to receive the newsletter" />
                  </div>
                </div>
              </form>
              <div id="successmsg">Thank you for supporting us!</div>
              <p class="ft-text">Rotherham Hospice respects your privacy. We will not pass your details to anyone else and you can unsubscribe from our mailing list at any time using the link in any of the newsletters.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 map-widget">
            <h3>Where are we? <span>Find the Hospice and our shops</span></h3>
            <!-- CS inline map start -->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38031.30618950451!2d-1.36725255!3d53.4334836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc2fffdd148a441f5!2sRotherham+Hospice+Wellgate+Shop!5e0!3m2!1sen!2sin!4v1431954125470" width="515" height="238"></iframe>
            </div>
            <!-- CS inline map end -->
          </div>
        </div>
      </div>
      <!-- footer section codes ends here--> 
    </div>
    <div class="ft-bottom">
      <div class="container">
        <div class="copyright">
          <ul class="clearfix">
            <li>Copyright &copy; Rotherham Hospice</li>
            <li><a href="/terms-and-conditions" title="Terms and Conditions">Terms and Conditions</a></li>
            <li><a href="/sitemap" title="Site map">Site map</a></li>
            <li><a href="/cookies-and-privacy" title="Privacy &amp; Cookies">Privacy &amp; Cookies</a></li>
          </ul>
          <ul class="clearfix">
            <li>A Registered Charity. A Company Limited by Guarantee. Registered No. 2234222</li>
            <li>Charity No. 700356</li>
          </ul>
        </div>
        <div class="design-by"> Website design by <a href="#" title="Creative Stream" target="_blank">Creative Stream</a> </div>
      </div>
    </div>
  </footer>
  <!-- image preloads starts here-->
  <div class="preloader"> <img src="/images/plus.png" alt="checkbox" /> <img src="/images/minus.png" alt="checkbox" /> <img src="/images/icon-checkbox-on.png" alt="checkbox" /> <img src="/images/icon-valid.png" alt="checkbox" /> </div>
  <!-- image preloads ends here--> 
  <!--footer ends here--> 
</div>
<script>
  if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
  // keep using cookies until they are delined 
  } else {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-65638679-1', 'auto');
	ga('send', 'pageview');
  }
</script>
<!--scripts starts here--> 
<script src="/js/modernizr-2.7.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script><!-- use in local machine latest Bootstrap CSS--> 
<script src="/js/jquery.bxslider.min.js"></script> 
<script src="/js/jquery.easing.min.js"></script> 
<script src="/js/masterslider.min.js"></script> 
<script src="/js/jquery.responsive_countdown.min.js"></script> 
<script src="/js/validation.js"></script> 
<script src="/js/menu.js"></script> 
<script src="/js/general.js"></script>
<script src="/js/functions.js"></script> 
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.cookiecuttr.js"></script>
<script>
  $(document).ready(function () {
	$.cookieCuttr({
	  cookieDeclineButton: false,
	  cookieAcceptButtonText: "OK",
	  cookieWhatAreTheyLink: '/cookies-and-privacy',
	  cookieAnalyticsMessage: "We use cookies to track visits to our website. We store no personal details",
	  cookieNotificationLocationBottom: true,
	  cookieWhatAreLinkText: "Find out about our cookies and manage them"
	});
  });
</script>
<!--scripts ends here-->
<!-- CS inline map onload start --><!-- CS inline map onload end -->
</body>
</html>