<!DOCTYPE html>
<html lang="en">
<head>
<title>About | Rotherham Hospice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Creative Stream">

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">--><!--live CDN bootstrap CSS-->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/editorstyles.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen" >
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="/js/jquery.min.js"></script><!-- use in local machine latest jquery js-->
<script src="//use.typekit.net/peq2gqv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--common jquery end-->
</head>

<body>
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper innerpage"> 
  <!--header section starts-->
  <header>
    <div id="header-main"> 
      <!-- header section coding starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-2"> <a class="logo" href="/" title="Rotherham Hospice"><img src="/images/logo.png" width="180" alt="Rotherham Hospice" title="Rotherham Hospice" /></a> </div>
          <div class="col-xs-12 col-sm-9 col-md-10 text-right clearfix">
            <div class="ht-top">
              <div class="google-language">
                <div id="googletranslate">
                  <div id="google_translate_element"></div>
				  <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-65638679-1'}, 'google_translate_element');
                    }
                  </script>
				  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
                <div id="googlesearch">
					<script>
						(function () {
							var cx = '001120771164237304198:h3-myb3qpwy';
							var gcse = document.createElement('script');
							gcse.type = 'text/javascript';
							gcse.async = true;
							gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							'//www.google.com/cse/cse.js?cx=' + cx;
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(gcse, s);
						})();
					</script>
					<gcse:searchbox-only resultsUrl="/search-results" newWindow="false" queryParameterName="search"></gcse:searchbox-only>
				</div>
              </div>
            <!-- CS shop_basket list start -->
              <div class="shop-btn"> <a href="#" title="Visit Shop">Visit Shop</a> <a href="#" title="Log in to Shop">Log in to Shop</a> </div>
            </div>
            <div class="cart-block"> <a href="#" class="cart-icon" title="&pound;3.41"><span class="badge">1</span> &pound;3.41</a> <span>|</span> <a href="#" title="View basket">View basket</a> </div>
            <!-- CS shop_basket list end -->
            <div class="social-share clearfix">
              <ul class="social-list clearfix">
                <li>
                  <div class="tooltip-data"> March is here which means the start of <a href="#" title="#CashforCurry">#CashforCurry</a> month! Get your FREE curry kit at <a href="http://www.rotherhamhospice.org.uk" title="rotherhamhospice.org.uk">http://www.rotherhamhospice.org.uk</a>
                    <p><a href="#" title="2 days ago"><em>2 days ago</em></a> | <a href="#" title="Follow us on Twitter">Follow us on Twitter</a> </p>
                  </div>
                  <a class="tw active" href="#" title="Share on Twitter" target="_blank">Twitter</a> </li>
                <li><a class="fb" href="#" title="Share on Facebook" target="_blank">Facebook</a></li>
                <li><a class="yt" href="#" title="Share on YouTube" target="_blank">YouTube</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-10 text-right clearfix">
            <nav id="menuBlock" class="navbar navbar-default navbar-custom">
              <button title="Menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <div class="menu navbar-collapse collapse"> 
                <!-- CS topnav start -->
                <!-- CS topnav end --> 
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- header section coding ends here--> 
    </div>
  </header>
  <!--header section ends--> 
  
  <!-- midd section starts here-->
  <section>
    <div class="banner">
      <ul class="slider slidermap">
        <li></li>
      </ul>
    </div>
    <div class="container-fluid" style="padding:0;">
      <div class="row">
        <div class="col-xs-12" style="padding:0;">
          <div id="map" class="mainmap"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 content-area" style="padding:0; margin:10px 0;">
          <div class="content-inner" id="content" style="text-align:center;">
            <h1>Hospice &amp; Shop Locations</h1>
            <p class="large">Click on the icons on the map above to view more information about each location.</p>
          </div>
          <!-- CS title start -->Map code automatically goes here - not used for standard purposes<!-- CS title end -->
          <!-- CS CONTENT STARTS HERE --><!-- CS CONTENT ENDS HERE --> 
        </div>
      </div>
    </div>
  </section>
  <!-- midd section ends here--> 
  
  <!--footer starts here-->
  <footer>
    <div class="ft-top" style="min-height:0;"> 
      <!-- footer section codes starts here-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-2 contact-widget">
            <h3>Contact us</h3>
            <p>Rotherham Hospice Broom Road Rotherham <br>
              S60 2SW <span><a href="tel:01709308900" title="Call">01709 308900</a></span></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-10 signup-widget">
            <div class="social-share clearfix">
              <ul class="social-list clearfix">
                <li> 
                  <!-- CS Tweet Start --> 
                  <a class="tw active" href="https://twitter.com/RotherHosp" title="Follow us on Twitter" target="_blank">Twitter</a> 
                  <!-- CS Tweet End --> 
                </li>
                <li><a class="fb" href="https://www.facebook.com/rotherham.hospice.5" title="Share on Facebook" target="_blank">Facebook</a></li>
                <li><a class="yt" href="https://www.youtube.com/channel/UCBiscfbz4NTBmUwXXzpgOWw" title="Share on YouTube" target="_blank">YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- footer section codes ends here--> 
    </div>
    <div class="ft-bottom">
      <div class="container">
        <div class="copyright">
          <ul class="clearfix">
            <li>Copyright &copy; Rotherham Hospice</li>
            <li><a href="/terms-and-conditions" title="Terms and Conditions">Terms and Conditions</a></li>
            <li><a href="/sitemap" title="Site map">Site map</a></li>
            <li><a href="/cookies-and-privacy" title="Privacy &amp; Cookies">Privacy &amp; Cookies</a></li>
          </ul>
          <ul class="clearfix">
            <li>A Registered Charity. A Company Limited by Guarantee. Registered No. 2234222</li>
            <li>Charity No. 700356</li>
          </ul>
        </div>
        <div class="design-by"> Website design by <a href="#" title="Creative Stream" target="_blank">Creative Stream</a> </div>
      </div>
    </div>
  </footer>
  <!-- image preloads starts here-->
  <div class="preloader"> <img src="/images/plus.png" alt="checkbox" /> <img src="/images/minus.png" alt="checkbox" /> <img src="/images/icon-checkbox-on.png" alt="checkbox" /> <img src="/images/icon-valid.png" alt="checkbox" /> </div>
  <!-- image preloads ends here--> 
  <!--footer ends here--> 
</div>
<script>
  if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
  // keep using cookies until they are delined 
  } else {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-65638679-1', 'auto');
	ga('send', 'pageview');
  }
</script>
<!--scripts starts here--> 
<script src="/js/modernizr-2.7.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script><!-- use in local machine latest Bootstrap CSS--> 
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/menu.js"></script> 
<script src="/js/general.js"></script> 
<script src="/js/functions.js"></script> 
<!--scripts ends here-->

<!--map-->
<script type="text/javascript" src="/modules/map/js/getusergeo.js" ></script><!-- ask user to share their geo -->
<script type="text/javascript">
$(document).ready(function() {
    onLoadmap();
    var map = mapmap;
    //map = new google.maps.Map(document.getElementById("map"));
    //var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
    //autocomplete.bindTo('bounds',map);
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      try{
        var place = autocomplete.getPlace();
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(8);
        }
        marker.setPosition(place.geometry.location);
        }catch(err){
          //console.log(err.message);
          if(err.message == 'place.geometry is undefined'){
            showFadeInmessage('Do not recogise `' + $("#autocomplete").val() + '`, Please select a location from list.');
          }else{
            // alert(err.description);
          }
       }
    });
});
function zoomandcentre(lat, lon) {
    // this is used to find items close to me
    mapmap.setZoom(10);
    var latlng = new google.maps.LatLng(lat,lon);
    mapmap.setCenter(latlng);
}
</script>

</body>
</html>