<!DOCTYPE html>
<html lang="en">
<head>
<title>The National Club</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Creative Stream">

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="/css/editorstyles.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" /><!--live CDN bootstrap CSS use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/cookiecuttr.css">
<!--typekit fonts embeddeds here-->
<script src="//use.typekit.net/jgu4jaf.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--typekit fonts embeddeds here-->
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<script src="/js/jquery.min.js"></script>
<!-- use in local machine latest jquery js-->
<!--common jquery end-->
</head>

<body class="login-page">
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper"> 
  <!--header section starts-->
  <div class="logo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4"> <a href="/"><img src="/images/login-logo.png" alt="The National Club" title="The National Club"></a> </div>
      </div>
    </div>
    
    <!-- header section coding ends here--> 
  </div>
  <!--header section ends--> 
  
  <!-- midd section starts here-->
  <section class="login-form">
    <div id="content">
      <div class="container">
        <div class="row"> 
          <!-- mid section codes here-->
          <!-- CS CONTENT STARTS HERE -->
          <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
            <div class="row"> <span class="formtitle">Login</span>
              <form class="loginform-area" id="login-form" action="/members" method="post">
           -      <div class="form-group">
                  <input type="text" class="form-control username" id="email" placeholder="email" name="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control password" id="password" placeholder="password" name="password">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="stayLoggedIn" value="1" checked="checked">
                    <span>Keep me logged in</span> </label>
                </div>
                <button type="submit" class="btn btn-default" value="login" title="Log in to main site" name="login" id="login">Log in to main site</button>
                <div class="successmsg">Thank you for login</div>
                <p><a href="#" title="New membership applications">New membership applications</a></p>
              </form>
            </div>
          </div>
          <!-- CS CONTENT ENDS HERE -->
          <!-- mid section codes ends here--> 
        </div>
      </div>
    </div>
  </section>
  <!-- midd section ends here-->
  <footer> 
    
    <!-- footer section codes starts here-->
    <div class="border-top-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 bottm-part">
            <h1>The national club</h1>
          </div>
        </div>
      </div>
    </div>
    <p>Copyright &copy; The National Club&nbsp;  |  &nbsp;<a href="http://www.creativestreamchurchwebsites.co.uk" target="_blank" title="Website design by Creative Stream">Website design by Creative Stream</a></p>
    <!-- footer section codes ends here--> 
    
  </footer>
</div>
<div class="preloader"><img src="/images/username-icon.png" alt="username-icon" title="username-icon"><img src="/images/password-icon.png" alt="password-icon" title="password-icon"></div>
<!--footer starts here--> 

<!-- image preloads starts here--> 
<!-- image preloads ends here--> 
<!--footer ends here--> 

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-XXXXXXXX-1', 'auto');
	ga('send', 'pageview');
</script>
<!--scripts starts here-->
<script src="/js/modernizr-2.7.1.min.js"></script> 
<!--<script src="/js/jquery.validate.js"></script>
<script src="/js/validation.js?1"></script>
 Latest compiled and minified JavaScript
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<script src="/js/bootstrap.min.js"></script> 
<!-- use in local machine latest Bootstrap CSS-->
<script src="/js/retina.js"></script> 
<script src="/js/placeholder.js"></script>
<script src="/js/css_browser_selector.js"></script>

<script>
$(document).ready(function() {
	$('input, textarea').placeholder();
    });
</script>
<!--scripts ends here-->
</body>
</html>