.ui-effects-transfer { border: 3px dotted #ccc; } 
#swatch_container { width:750px; list-style-type:none; margin:0px; border: 0px solid #ccc;margin-top: 5px; margin-left: -5px; padding-left:0px;}
#swatch_container li{ float:left; padding-bottom: 5px;padding-left:5px; width:45px; height:20px; padding-right: 0px; padding-top: 5px;}
#swatch_container div { text-align: left; font-size: 10px;
                        color: #fff;padding-top: 14px;width:45px; height:20px; border:solid 0px black;  text-align:center; padding-top: 0px; border-radius: 0px;}
