<!DOCTYPE html>
<html lang="en">
<head>
<title>The National Club</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="Creative Stream">

<!-- CS og start --><!-- CS og end -->

<!--css styles starts-->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" /><!--live CDN bootstrap CSS use in local machine latest Bootstrap CSS-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/cookiecuttr.css">
<!--typekit fonts embeddeds here-->
<script src="//use.typekit.net/jgu4jaf.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<!--typekit fonts embeddeds here-->
<!--css styles ends-->

<!--script  starts-->
<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
<!--script  ends-->

<!--common jquery starts-->
<script src="/js/jquery.min.js"></script>
<!-- use in local machine latest jquery js-->
<!--common jquery end-->
</head>

<body>
<!--[if lt IE 8]>
<p class="browsermessage">You are using an <strong>outdated</strong> browser and your experience with our site (and majority of the internet) will not be as intended.<br><a href="http://whatbrowser.org/">Click here to get help updating your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper"> 
  <!--header section starts-->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 logo-text"> <a href="/" title="The National Club"><img class="small-logo" src="/images/smalllogo.png" alt="smalllogo" title="smalllogo">The National Club</a> </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 welcome-menu">
          <!-- CS shop_basket list start -->
          <p>Welcome Glynn</p>
          <ul>
            <li><a href="#" title="EDIT YOUR DETAILS">edit your details</a></li>
            <li><a href="#" title="LOG OUT">log out</a></li>
          </ul>
          <!-- CS shop_basket list end -->
        </div>
      </div>
    </div>
    
    <!-- header section coding ends here--> 
  </header>
  <!--header section ends-->
  <div class="header-bottom">
    <div class="container">
      <div class="row"> 
        <!-- mid section codes here-->
        <div class="col-xs-12 col-sm-3 col-md-3 logo-inner">
          <div class="logo-container"> <img src="/images/logo.png" alt="The National Club" title="The National Club"> </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 slider-inner clearfix">
          <div class="temp">
          <!-- CS topnav start -->
            <ul class="enumenu_ul clearfix">
              <li> <a href="index.html" class="active" title="HOME" >Home</a> </li>
              <li> <a href="inner.html"  title="THE CLUB">the club<span class="hidden-xs"></span></a>
                <ul>
                  <li class="second-sub"> <a title="the Club house" href="#">the Club house</a>
                    <ul>
                      <li> <a href="#" class="2" title="carlton club card">carlton club card</a> </li>
                      <li> <a href="#" class="2" title="christmas closure">christmas closure</a> </li>
                      <li> <a href="#" class="2" title="summer closure">summer closure</a> </li>
                    </ul>
                  </li>
                  <li> <a href="#" class="1" title="club rules">club rules</a> </li>
                  <li> <a href="#" class="1" title="constitution">constitution</a> </li>
                  <li> <a href="#" class="1" title="fundamental principles">fundamental principles</a> </li>
                  <li> <a href="#" class="1" title="our history">our history</a> </li>
                  <li> <a href="#" class="1" title="our mission">our mission</a> </li>
                  <li> <a href="#" class="1" title="reciprocal clubs">reciprocal clubs</a> </li>
                </ul>
              </li>
              <li> <a href="#" title="EVENTS">Events <span class="hidden-xs"></span></a></li>
              <li> <a href="#" title="MEMBERSHIP">membership <span class="hidden-xs"></span></a> </li>
              <li> <a href="#" title="PUBLIC AFFAIRS">public affairs <span class="hidden-xs"></span></a> </li>
              <li> <a href="#" title="CONTACT">contact <span class="hidden-xs"></span></a> </li>
            </ul>
          <!-- CS topnav end -->
          </div>
          <div class="slider-section clearfix">
            <div class="slider">
              <ul class="bxslider">
                <li style="background-image:url(/images/banner-1.jpg)"></li>
                <li style="background-image:url(/images/banner-2.jpg)"></li>
                <li style="background-image:url(/images/banner-3.jpg)"></li>
              </ul>
            </div>
            <div class="side-nav">
              <ul>
                <li><a href="/events" title="Events">Events</a></li>
                <li><a href="/public-affairs" title="Public Affairs">Public Affairs</a></li>
                <li><a href="/the-club" title="The Clubhouse">The Clubhouse</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="heading"> 
    <!-- midd section starts here-->
    <section>
      <div id="content">
        <div class="container">
          <div class="row content-story"> 
            <!-- mid section codes here-->
            <div class="col-xs-12 col-sm-12 col-md-6 clearfix overlay-block">
              <div class="story-block">
                <div class="stories-block-overlay"></div>
                <div class="block-content-overlay">
                  <h1><!-- CS title start -->the national club<!-- CS title end --></h1>
                  <!-- CS CONTENT STARTS HERE -->
                  <p>Pellentesque congue lacus faucibus arcu malesuada, interdum gravida purus lacinia. Quisque vehicula ligula nec felis finibus, vel vestibulum massa feugiat.</p>
                  <p>Sed pellentesque purus a sapien aliquet, id semper erat semper. In tempor ex mauris, non aliquet neque cursus vitae. Praesent in congue ex. Proin porttitor dignissim mollis. Suspendisse volutpat augue sed mi sagittis, at sodales nulla viverra.</p>
                  <p>Donec laoreet id ante a dapibus. In hac habitasse platea dictumst. In augue nunc, dignissim iaculis turpis sed, vehicula pellentesque odio. Quisque ullamcorper sapien quis posuere ultrices. Sed sit amet odio lectus. Nulla nec lectus ac neque elementum fermentum. </p>
                  <!-- CS CONTENT ENDS HERE -->
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 clearfix conference-image">
              <div class="back-head-image"></div>
            </div>
          </div>
          <div class="row evnet-area clearfix">
            <div class="col-xs-12 col-sm-4 col-md-4 clearfix buildingshot">
              <div class="event-img"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 clearfix">
              <div class="events"> 
              <div class="events-inner">
              <a class="view-all" href="/events" title="View all events">View all events</a>
                <h2>events</h2>
                <!-- CS booking latest start -->
                <div class="event-inner">
                  <h3><a href="#" title="annual political dinner">annual political dinner</a></h3>
                  <h4>18th June 2015 </h4>
                  <p>Holding the Government to account: lies damned lies and statistics <span>Sir Andrew Dilnot, Chairman, UK Statistics Authority and Warden of Nuffield College Oxford</span></p>
                </div>
                <div class="event-inner">
                  <h3><a href="#" title="prayer breakfast">prayer breakfast</a></h3>
                  <h4>22nd June 2015</h4>
                  <p>Training Bible teachers in India <span>The Revd Robin Weekes, Emmanuel Church, Wimbledon</span></p>
                </div>
                <!-- CS booking latest end -->
              </div>           
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 clearfix">
              <div class="calender-area">
                <div class="calender-area-inner">
                  <h2>calendar</h2>
                  <div id="simple-calendar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="the-club clearfix row">
            <div class="col-xs-12 col-sm-6 col-md-8 clearfix the-club-holder">
              <div class="the-club-img">
                <div class="club-block-overlay"></div>
                <div class="club-content-overlay">
                  <h2>the club</h2>
                  <p>
                  <a href="#" title="make your annual contribution">make your annual contribution &gt;</a>
                  <a href="/members/edit-details" title="update your personal details">update your personal details &gt;</a>
                  <a href="/new-membership-applications" title="nominate a new member">nominate a new member &gt;</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 clearfix g-map">
              <div id="map_wrapper">
                <div id="map_canvas" class="mapping"></div>
              </div>
            </div>
          </div>
          <!-- mid section codes ends here--> 
        </div>
      </div>
    </section>
    <!-- midd section ends here-->
    <footer> 
      
      <!-- footer section codes starts here-->
      
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 footer-menu">
            <p>Copyright &copy; The National Club &nbsp; | <a href="#" title="Terms and Conditions">Terms and Conditions</a> | <a href="/sitemap" title="Site map">Site map</a> | <a href="/cookies-and-privacy" title="Privacy and Cookies">Privacy &amp; Cookies</a></p>
            <p>Located at The Carlton Club, 69 St James's Street, London SW1A 1PJ</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 website"> <a href="http://www.creativestreamchurchwebsites.co.uk" target="_blank" title="Website design by Creative Stream">Website design by Creative Stream</a> </div>
        </div>
      </div>
      
      <!-- footer section codes ends here--> 
      
    </footer>
  </div>
</div>
<!--footer starts here--> 

<!-- image preloads starts here--> 
<!-- image preloads ends here--> 
<!--footer ends here--> 

<script>
  if (jQuery.cookie('cc_cookie_decline') == "cc_cookie_decline") {
  // keep using cookies until they are delined 
  } else {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-XXXXXXXX-1', 'auto');
	ga('send', 'pageview');
  }
</script>
<!--scripts starts here--> 
<script src="/js/modernizr-2.7.1.min.js"></script> 
<!-- Latest compiled and minified JavaScript 
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>--> 
<script src="/js/bootstrap.min.js"></script> 
<!-- use in local machine latest Bootstrap CSS--> 
<script src="/js/retina.js"></script> 
<script src="/js/jquery.bxslider.js"></script> 
<script src="/js/bic_calendar.min.js"></script> 
<script src="/js/enu-menu.js"></script> 
<script src="/js/css_browser_selector.js"></script>
<script src="/js/general.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.cookiecuttr.js"></script>

<script>
  $(document).ready(function () {
	$.cookieCuttr({
	  cookieDeclineButton: false,
	  cookieAcceptButtonText: "OK",
	  cookieWhatAreTheyLink: '/cookies-and-privacy',
	  cookieAnalyticsMessage: "We use cookies to track visits to our website. We store no personal details",
	  cookieNotificationLocationBottom: true,
	  cookieWhatAreLinkText: "Find out about our cookies and manage them"
	});
  });
 
  var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
	
     function initialize() {
		
    var map;
	var latlng = new google.maps.LatLng(38.941342, -77.252598);
	 var iconSrc = '/images/map-marker.png';
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
		center: latlng,
        mapTypeId: 'roadmap', 
 	};
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
        ['London, UK', 51.5057773,-0.1388806],
    ];

    // Info Window Content
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
		 	"icon": iconSrc, 
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(15);
        google.maps.event.removeListener(boundsListener);
    });}
	
	// Calendar
	$(document).ready(function() {
		var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var dayNames = ["S", "M", "T", "W", "T", "F", "S"];
		$('#simple-calendar').bic_calendar({
			enableSelect: false,
			dayNames: dayNames,
			monthNames: monthNames,
			showDays: true,
			displayMonthController: true,
			displayYearController: true,
			startWeekDay: 1,
			//set ajax call
			reqAjax: {
				type: 'get',
				url: '/modules/booking/calendar.php'
			}
		});
	});
</script> 
<!--scripts ends here-->
</body>
</html>